
@{
    ViewBag.Title = "TeamStats";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeamStats</title>
</head>
<body>
    <div>
        Name :- @Model.team_name<br />
        Points :- @Model.overall_league_PTS<br />
        Wins :- @Model.overall_league_W<br />
        Losses :- @Model.overall_league_L<br />
    </div>
</body>
</html>
